/* MOBILE FIRST */

/* General styles */
body {
  color: #333232;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #4E4E89;
}

a:hover {
  color: #3B3B53;
}

sup {
  font-size: 12px;
}

.fa-chevron-right {
  padding-left: 10px;
}

.btn {
  font-size: 1.2rem;
}

.flex-container:after {
  display: none;
}

.OptimaLTStd-ExtraBlack {
	font-family: OptimaLTStd-ExtraBlack;
	font-weight: normal;
	font-style: normal;
  line-height: 1.5;
}

/* Header/Nav */
.primary-header {
  background: #3B3B53;
}

.header-topbar {
  display: flex;
  justify-content: space-between;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  position: relative;
  align-items: center;
  padding: .8em 0;
}

.header-topbar a {
  align-self: flex-start;
  -webkit-align-items: flex-start;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-start;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  -webkit-align-items: flex-end;
  -webkit-align-self: flex-start;
  padding: 1.3em 0 .5em;
  color: white;
  text-align: right;
}

.navbar-toggler {
  margin-top: -5px;
  background: #4E4E89;
  font-size: 2em;
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

#exCollapsingNavbar2 .nav-link {
  display: block;
  padding-top: 1.8em;
  color: white;
  font-size: 1.3em;
}

#exCollapsingNavbar2 .nav-link:hover {
  color: #EEB029;
}

/* Hero & lead */
.hero {
  background: #fafafa url(/static/images/bg-pattern.png) center top repeat;
  background-size: cover;
  color: white;
}

.hero-wrapper h1 {
  font-size: 1.8em;
}

/* Components section */
.components {
  background: #F4F4F4;
}

.components-card-wrapper {
  text-align: center;
}

.components-card {
  color: #3B3B53;
  text-decoration: none;
  display: block;
}

.components-card:hover {
  text-decoration: none;
}

.components-card:hover h4 {
  color: #EEB029;
}

.components-card:hover p {
  color: #4E4E89;
}

.components-card img {
  width: 120px;
}

.components-card p {
  margin: 0 auto;
  width: 75%;
}

.components-button {
  text-align: center;
}

/* Community/Social media */
.social-media {
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
}

.social-media div {
  display: flex;
  justify-content: space-around;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  font-size: 2em;
  width: 100%;
}

.social-media div a {
  color: #333232;
}

.social-media div a:hover {
  color: #EEB029;
}

/* Footer */
.footer-primary {
  text-align: center;
  background: #333232;
  color: #F4F4F4;
  font-size: .7em;
}

.footer-wrapper img {
  margin-bottom: 1rem;
}

.footer-wrapper small {
  display: block;
}

/* Subnav */
.subnav ul {
  list-style-type: none;
  margin: 0 0 2em;
  padding: 0;
}

.subnav li {
  display: inline;
}

.subnav a {
  color: #fff;
  padding: 0.2em 1em 0.2em 0;
  font-size: 1.3rem;
}

/* Pages */

/* News */
#press-releases {
  background: #F4F4F4;
}

#in-the-news .content,
#press-releases .content,
#press-inquiries .content {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
}

#in-the-news h2,
#press-releases h2 {
  line-height: 1.2em;
}

#in-the-news h4,
#press-releases h4,
#press-inquiries h4 {
  margin-bottom: 1em;
}

#in-the-news img {
  max-width: 200px;
  margin-bottom: .8em;
}

#press-releases img {
  display: none;
}

#in-the-news span,
#press-releases span {
  display: block;
}

.news-article {
  margin-bottom: 2em;
}

/* Events */
.event {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  max-width: 750px;
  margin: 0 auto 1em;
}

.event img {
  max-width: 200px;
  margin-bottom: 1em;
}

.event ul {
  list-style-type: none;
  margin: 0 0 2em;
  padding: 0;
}

.event .meta {
  text-transform: uppercase;
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 1em;
}

/* Responsive */

/* Small and up */
@media (min-width: 544px) {
  #exCollapsingNavbar2 .nav-link {
    display: inline-block;
    padding-top: 0;
    padding-right: 1.4em;
    font-size: 1em;
  }

  #exCollapsingNavbar2 .nav-link:last-of-type {
    padding-right: 0;
  }

  .header-topbar {
    display: block;
  }

  .header-topbar img {
    position: absolute;
  }

  .hero {
    background: #4E4E89;
  }

  .hero-wrapper {
    margin: 0 auto;
    padding-top: 3em;
    text-align: center;
    width: 65%;
  }

  .hero-wrapper h1 {
    font-size: 2.1em;
  }

  .about {
    width: 65%;
  }

  .subnav a {
    padding-left: 1em;
  }
}

/* Medium and up */
@media (min-width: 768px) {
  #exCollapsingNavbar2 .nav-link {
    font-size: 1.2em;
  }

  .hero-wrapper h1 {
    font-size: 2.5em;
  }

  /* Page divide */
  .divide-content {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
  }

  .divide-content section {
    width: 50%;
  }

  .components-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-between;
  }

  .components-card {
    display: flex;
    flex: 0 0 45%;
    display: -webkit-flex;
    -webkit-flex: 0 0 45%;
    text-align: left;
  }

  .components-card img {
    margin-right: .8em;
    align-self: flex-start;
    -webkit-align-self: flex-start;
    width: 100px;
  }

  .components-card p {
    width: 100%;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    width: 100%;
  }

  .footer-wrapper img {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  #exCollapsingNavbar2 .nav-link {
    font-size: 1.3em;
  }

  p {
    font-size: 1.1em;
  }

  .primary-header-wrapper {
    padding: .4em 0;
  }

  .navbar {
    padding: .4em 0;
  }

  .about .lead {
    font-size: 1.3em;
  }

  .components-card {
    display: flex;
    flex: 0 0 27%;
    display: -webkit-flex;
    -webkit-flex: 0 0 27%;
    text-align: left;
  }

  .components-details p {
    font-size: .95em;
  }

  .social-media div {
    font-size: 2.4em;
  }

  .event .event-img {
    flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
  }

  .event .event-details {
    flex: 0 0 65%;
    -webkit-flex: 0 0 65%;
  }
}
