{% macro render_event(post, from_index=false) %}
  <article class="event">
    <section class="event-img">
      <a href="{{ post.url }}" target="_blank">
        <img src="{{ post.image }}" />
      </a>
    </section>
    <ul class="event-details">
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </li>
      <li class="meta">
        <span>
          Where: {{ post.where }}
        </span>
        <span>
          When: {{ post.when }}
        </span>
      </li>
      <li class="event-description">
        {{ post.body }}
      </li>
    </ul>
  </article>
{% endmacro %}