{% macro render_news_article(post, from_index=false) %}
  <article class="news-article">
    {% if from_index %}
      <h2 class="OptimaLTStd-ExtraBlack">
        <a href="{{ post.url }}" target="_blank">
          <img src="{{ post.image }}" />
          <span>{{ post.title }}</span>
        </a>
      </h2>
    {% else %}
      <h2 class="OptimaLTStd-ExtraBlack">
        <img src="{{ post.image }}" />
        <span>{{ post.title }}</span>
      </h2>
    {% endif %}
  </article>
{% endmacro %}