<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Kel is an open-source Platform as a Service (PaaS) from Eldarion® that makes it easy to manage web application deployment and hosting through the entire software lifecycle.">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary" >
    <meta property="twitter:title" content="" >
    <meta property="twitter:description" content="Kel is an open-source Platform as a Service (PaaS) from Eldarion® that makes it easy to manage web application deployment and hosting through the entire software lifecycle.">
    <meta property="twitter:creator" content="@ProjectKel" >
    <meta property="twitter:url" content="https://twitter.com/ProjectKel" >
    <!-- <meta property="twitter:image" content="" > -->
    <title>Kel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css'|asseturl }}" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd">
    <!-- Project CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/kel.css'|asseturl }}">
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ '/static/fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css'|asseturl }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ '/static/css/font-awesome.min.css'|asseturl }}">
  </head>
  <body>
    <header class="primary-header">
      <div class="primary-header-wrapper container flex-container">
        <div class="header-topbar">
          <a href="/"><img class="hidden-sm-up" src="/static/images/logo_simple.svg" alt="Kel circular ship logo" width="80px" /></a>
          <a href="/"><img class="hidden-xs-down" src="/static/images/logo_full.svg" alt="Kel circular ship logo" width="120px" /></a>
          <nav class="navbar text-uppercase">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
              <a class="nav-item nav-link" href="http://docs.kelproject.com">Docs</a>
              <!--<a class="nav-item nav-link" href="#">Blog</a>-->
              <a class="nav-item nav-link" href="https://github.com/kelproject">GitHub</a>
              <a class="nav-item nav-link" href="http://slack.kelproject.com">Slack</a>
              <a class="nav-item nav-link" href="https://twitter.com/ProjectKel">Twitter</a>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <div class="hero p-t-2 p-b-2">
      <div class="hero-wrapper container">
        <h1 class="OptimaLTStd-ExtraBlack m-t-2">an open-source, Kubernetes-based PaaS built in Python and Go</h1>
        <p class="lead hidden-xs-down m-t-1">
          On desktop there is an opportunity for a subsection here.
        </p>
        <a href="http://docs.kelproject.com" class="btn btn-warning m-t-2 m-b-2">Get Started <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </div>
    </div>


    <section class="about container p-t-2 p-b-2">
      <p class="lead m-t-2">
        Kel&#8482; is an open-source Platform as a Service (PaaS) from <a href="http://eldarion.com/">Eldarion<sup>&reg;</sup></a> that makes it easy to manage web application deployment and hosting through the entire software lifecycle.
      </p>
      <p class="lead m-b-2">
        Kel adds components and tools on top of Kubernetes, the popular container orchestration system originally developed by Google that helps DevOps professionals manage their application infrastructure. Kel builds on Eldarion's 7+ years experience running Gondor, one of the leading Python / Django PaaS solutions.
      </p>
    </section>

    <section class="components p-t-2 p-b-2">
      <div class="components-wrapper container">
        <h2 class="OptimaLTStd-ExtraBlack m-t-2 m-b-2">Components</h2>
        <p>
          Kel is built on Kubernetes with components written in Python and Go. The following components are a good entryway to understanding the Kel project:
        </p>
        <div class="components-card-wrapper container flex-container m-t-3">
          <div class="components-card m-b-3">
            <img class="m-b-1" src="/static/images/api.svg" alt="Illustration represeting how an API works" />
            <div class="components-details">
              <h4>kel-api</h4>
              <p>
                RESTful API built with Django / Pinax, adhering to the JSON:API specification
              </p>
            </div>
          </div>
          <div class="components-card m-b-3">
            <img class="m-b-1" src="/static/images/proxy.svg" alt="Illustration representing reverse proxy process" />
            <div class="components-details">
              <h4>kel-router</h4>
              <p>
                HTTP / TLS reverse proxy
              </p>
            </div>
          </div>
          <div class="components-card m-b-3">
            <img class="m-b-1" src="/static/images/auth.svg" alt="Illustration representing security and authentication" />
            <div class="components-details">
              <h4>kel-identity</h4>
              <p>
                Centralized authentication / authorization for Kel
              </p>
            </div>
          </div>
          <div class="components-card m-b-3">
            <img class="m-b-1" src="/static/images/command.svg" alt="Illustration representing the command line" />
            <div class="components-details">
              <h4>kel</h4>
              <p>
                Kel end-user client command-line tool
              </p>
            </div>
          </div>
          <div class="components-card m-b-3">
            <img class="m-b-1" src="/static/images/command_tool.svg" alt="Illustration of command line tools for admins" />
            <div class="components-details">
              <h4>kelctl</h4>
              <p>
                Kel cluster admin command-line tool
              </p>
            </div>
          </div>
          <div class="components-card m-b-3">
            <img src="/static/images/cluster.svg" alt="Illustration representing cluster management" />
            <div class="components-details">
              <h4>kel-cluster</h4>
              <p>
                Kel cluster management Python library
              </p>
            </div>
          </div>
        </div>
        <div class="components-button">
          <a class="btn btn-danger hidden-xs-down m-t-2 m-b-2" href="https://github.com/kelproject">View All Repos <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </section>

    <div class="divide-content container">
      <section class="community container m-t-2">
        <h2 class="OptimaLTStd-ExtraBlack m-t-2">Community</h2>
        <p>
          In order to foster a kind, inclusive, and harassment-free community, the Kel project follows the <a href="http://contributor-covenant.org/">Contributor Covenant Code of Conduct</a>.
        </p>
      </section>

      <section class="social-media container m-t-2">
        <div>
          <!--<a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>-->
          <a href="http://slack.kelproject.com"><i class="fa fa-slack" aria-hidden="true"></i></a>
          <a href="https://github.com/kelproject"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
          <a href="https://twitter.com/ProjectKel"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </section>

      <section class="license container m-t-2">
        <h2 class="OptimaLTStd-ExtraBlack m-t-2">License</h2>
        <p>
          The code in this project is licensed under the Apache License, version 2.0.
        </p>
      </section>

      <section class="support container m-t-2 m-b-2">
        <h2 class="OptimaLTStd-ExtraBlack m-t-2">Commercial Support</h2>
        <p>
          Commercial support for Kel is available through Eldarion<sup>&reg;</sup>, please contact <a href="mailto:info@eldarion.com">info@eldarion.com</a> for more information.
        </p>
      </section>
    </div>

    <footer class="footer-primary m-t-3 p-a-1">
      <div class="footer-wrapper container flex-container">
        <a href="http://eldarion.com/"><img src="/static/images/eldarion_logo.svg" alt="Official Eldarion Logo" width="60px" /></a>
        <small>&copy; 2010&ndash;2016 Eldarion<sup>&reg;</sup>, Inc.</small>
      </div>
    </footer>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="{{ '/static/js/jquery.min.js'|asseturl }}"></script>
    <script src="{{ '/static/js/bootstrap.min.js'|asseturl }}" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"></script>
  </body>
</html>
