<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Kel is an open-source Platform as a Service (PaaS) from Eldarion® that makes it easy to manage web application deployment and hosting through the entire software lifecycle.">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary" >
    <meta property="twitter:title" content="Kel" >
    <meta property="twitter:description" content="Kel is an open-source, Kubernetes-based PaaS built in Python and Go">
    <meta property="twitter:creator" content="@ProjectKel" >
    <meta property="twitter:image:src" content="http://www.kelproject.com/static/images/logo.png" >
    <!-- Open Graph data -->
    <meta property="og:title" content="Kel" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="An open-source, Kubernetes-based PaaS built in Python and Go" />
    <meta property="og:url" content="http://www.kelproject.com/" />
    <meta property="og:image" content="http://www.kelproject.com/static/images/logo.png" />
    <title>Kel &mdash; an open-source, Kubernetes-based PaaS built in Python and Go</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css'|asseturl }}" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd">
    <!-- Project CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/kel.css'|asseturl }}">
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ '/static/fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css'|asseturl }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ '/static/css/font-awesome.min.css'|asseturl }}">
  </head>
  <body>
    <header class="primary-header">
      <div class="primary-header-wrapper container flex-container">
        <div class="header-topbar">
          <a href="/"><img class="hidden-sm-up" src="/static/images/logo_simple.svg" alt="Kel circular ship logo" width="80px" /></a>
          <a href="/"><img class="hidden-xs-down" src="/static/images/logo_full.svg" alt="Kel circular ship logo" width="120px" /></a>
          <nav class="navbar text-uppercase">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2"><i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
              <a class="nav-item nav-link" href="http://docs.kelproject.com">Docs</a>
              <!--<a class="nav-item nav-link" href="#">Blog</a>-->
              <a class="nav-item nav-link" href="{{ '/news'|url }}">News</a>
              <a class="nav-item nav-link" href="{{ '/events'|url }}">Events</a>
              <a class="nav-item nav-link" href="https://github.com/kelproject">GitHub</a>
              <a class="nav-item nav-link" href="http://slack.kelproject.com">Slack</a>
              <a class="nav-item nav-link" href="https://twitter.com/ProjectKel">Twitter</a>
            </div>
          </nav>
        </div>
      </div>
    </header>

    {% block body %}{% endblock %}

    <footer class="footer-primary p-a-1">
      <div class="footer-wrapper container flex-container">
        <a href="http://eldarion.com/"><img src="/static/images/eldarion_logo.svg" alt="Official Eldarion Logo" width="60px" /></a>
        <small>&copy; 2010&ndash;2016 Eldarion<sup>&reg;</sup>, Inc.</small>
      </div>
    </footer>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="{{ '/static/js/jquery.min.js'|asseturl }}"></script>
    <script src="{{ '/static/js/bootstrap.min.js'|asseturl }}" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"></script>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t = document.createElement('script');
        t.type = 'text/javascript';
        t.async = true;
        t.id = 'gauges-tracker';
        t.setAttribute('data-site-id', '57129ec7c88d904f1b00ff21');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2401894-51']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);
      // _gaq.push(['_setCustomVar', 1, 'Authentication Type', ut, 2]);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
