{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="hero p-t-2 p-b-2">
    <div class="hero-wrapper container">
      <h1 class="OptimaLTStd-ExtraBlack m-t-2 m-b-2">an open-source, Kubernetes-based PaaS built in Python and Go</h1>
      <!--<p class="lead hidden-xs-down m-t-1">
        On desktop there is an opportunity for a subsection here.
      </p>-->
      <a href="http://docs.kelproject.com" class="btn btn-warning m-t-2 m-b-2">Get Started <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
  </div>


  <section class="about container p-t-2 p-b-2">
    <p class="lead m-t-2">
      Kel<sup>&trade;</sup> is an open-source Platform as a Service (PaaS) from <a href="http://eldarion.com/">Eldarion</a><sup>&reg;</sup> that makes it easy to manage web application deployment and hosting through the entire software lifecycle.
    </p>
    <p class="lead m-b-2">
      Kel helps DevOps professionals manage their application infrastructure through a layer of tools and components that make Kubernetes accessible and easier to use. Kel builds on Eldarion's 7+ years experience running Gondor, one of the leading Python / Django PaaS solutions.
    </p>
  </section>

  <section class="components p-t-2 p-b-2">
    <div class="components-wrapper container">
      <h2 class="OptimaLTStd-ExtraBlack m-t-2 m-b-2">Components</h2>
      <p>
        Kel is built on Kubernetes with components written in Python and Go. The following components are a good entryway to understanding the Kel project:
      </p>
      <div class="components-card-wrapper container flex-container m-t-3">
        <a href="https://github.com/kelproject/kel-api" class="components-card m-b-3">
          <img class="m-b-1" src="/static/images/api.svg" alt="Illustration represeting how an API works" />
          <div class="components-details">
            <h4>kel-api</h4>
            <p>
              RESTful API built with Django / Pinax, adhering to the JSON:API specification
            </p>
          </div>
        </a>
        <a href="https://github.com/kelproject/kel-router" class="components-card m-b-3">
          <img class="m-b-1" src="/static/images/proxy.svg" alt="Illustration representing reverse proxy process" />
          <div class="components-details">
            <h4>kel-router</h4>
            <p>
              HTTP / TLS reverse proxy
            </p>
          </div>
        </a>
        <a href="https://github.com/kelproject/kel-identity" class="components-card m-b-3">
          <img class="m-b-1" src="/static/images/auth.svg" alt="Illustration representing security and authentication" />
          <div class="components-details">
            <h4>kel-identity</h4>
            <p>
              Centralized authentication / authorization for Kel
            </p>
          </div>
        </a>
        <a href="https://github.com/kelproject/kel" class="components-card m-b-3">
          <img class="m-b-1" src="/static/images/command.svg" alt="Illustration representing the command line" />
          <div class="components-details">
            <h4>kel</h4>
            <p>
              Kel end-user client command-line tool
            </p>
          </div>
        </a>
        <a href="https://github.com/kelproject/kelctl" class="components-card m-b-3">
          <img class="m-b-1" src="/static/images/command_tool.svg" alt="Illustration of command line tools for admins" />
          <div class="components-details">
            <h4>kelctl</h4>
            <p>
              Kel cluster admin command-line tool
            </p>
          </div>
        </a>
        <a href="https://github.com/kelproject/kel-cluster" class="components-card m-b-3">
          <img src="/static/images/cluster.svg" alt="Illustration representing cluster management" />
          <div class="components-details">
            <h4>kel-cluster</h4>
            <p>
              Kel cluster management Python library
            </p>
          </div>
        </a>
      </div>
      <div class="components-button">
        <a class="btn btn-danger hidden-xs-down m-t-2 m-b-2" href="https://github.com/kelproject">View All Repos <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </section>

  <div class="divide-content container">
    <section class="community container m-t-2">
      <h2 class="OptimaLTStd-ExtraBlack m-t-2">Community</h2>
      <p>
        In order to foster a kind, inclusive, and harassment-free community, the Kel project follows the <a href="http://contributor-covenant.org/">Contributor Covenant Code of Conduct</a>.
      </p>
    </section>

    <section class="social-media container m-t-2">
      <div>
        <!--<a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>-->
        <a href="http://slack.kelproject.com"><i class="fa fa-slack" aria-hidden="true"></i></a>
        <a href="https://github.com/kelproject"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="https://twitter.com/ProjectKel"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </section>

    <section class="license container m-t-2">
      <h2 class="OptimaLTStd-ExtraBlack m-t-2">License</h2>
      <p>
        The code in this project is licensed under the Apache License, version 2.0.
      </p>
    </section>

    <section class="support container m-t-2 m-b-3">
      <h2 class="OptimaLTStd-ExtraBlack m-t-2">Commercial Support</h2>
      <p>
        Commercial support for Kel is available through Eldarion<sup>&reg;</sup>, please visit <a href="http://eldarion.cloud">eldarion.cloud</a> to learn more.
      </p>
    </section>
  </div>
{% endblock %}
